@charset "utf-8";

.wrap{
    width: 1000px;
    margin: 0 auto;
    /* background-color: bisque; */
}

.logo {
    text-align: center;
}

.brand {
    width: 600px;
    margin: 0 auto;
}

.new {
    width: 606px;
    margin: 0 auto;
    /* 사진, 영상 등 큰 덩어리를 가로 가운데로 */
    text-align: center;
}

.title {
    text-align: center;
    /* 제목, 내용 텍스트를 가로 가운데로 */
}

#footer {
    text-align: center;
}
.brand_text{
    text-align: center;
    border: 2px solid #333;
    width: 400px;
    margin: 30px auto;
    padding: 15px;
    font-size: 20px;
    text-transform: uppercase;
    /* text-transform: uppercase; = 텍스트-변형 */
    /* magin: 0 atuo;은 개체의 부모개체의 크기 안에서 공백 정렬 */
    /* padding은 개체의 크기 안에서 값만큼 공백 정렬 */

}

.nav {
    text-align: center;
}

.delivery {
    text-align: center;
}

.contact {
    text-align: center;
}

.copyright {
    text-align: center;
    background-color: black;
    color: white;
    padding: 30px 0;
}

/* media- query : 미디어 쿼리 
1rem = 16px  (r:em - root element 조상, r:em과 em은 다름)
@media screen - 스크린이 있는 미디어에서, (mid-width: 40rem) - 최소 40rem이 넘으면*/
/* min과 max의 코드 변화시 값 크기만큼의 순서 변경 필요 */
@media screen and (max-width: 412px) {
  body {    
  }
  img,
  picture,
  video {
    max-width: 100%;
  }
  .wrap {
    width: 100%;
  }

  .nav {
    display: grid;
    grid-template-rows: 50px 50px;
    grid-template-columns: 1fr 1fr;
    gap: 2px;
    width: 100%;
    text-transform: uppercase;
  }
  .nav a {
    background-color: #ffbe98;
    color: white;
    text-decoration: none;
  }

  .nav a:hover {
    background-color: black;
    color: white;
  }
  .brand {
    width: 100%;
  }
  .new{
    width: 100%;
    text-align: center;
  }
  .title{
    color: black;
    text-transform: capitalize;
  }
  .brand_text{
    width: 300px;
  }

  #footer{
    color: black;
  }
}
